body{
  background-image: url(images/homepage/Background.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  margin: 90px;
}

 h1{
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  font-family: Cinzel Decorative;
  margin-top: 90px;
  margin-bottom: 0;
  position: relative;
 }
  
  
 p{
  font-family: poppins;
  color: rgba(255, 255, 255, 1);
  font-size: 19px;
  margin-top: 5px;
 }
  
 .welcome{
  color: rgba(255, 255, 255, 1);
  font-family: Cinzel Decorative;
  text-align: center;
 }
  
.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    text-align: center;
    font-family: Cinzel Decorative;
    color: rgba(255, 255, 255, 1);
 }

.width-img{
  width: 70%;
  margin: 10px;
}
  
.boxes{
  width: 25%;
  height: 230px;
  min-width: 200px;
  background-color: none;
  border: none;
  color: none;
  }

 h3{
  font-family: Cinzel Decorative;
  color: rgb(0, 0, 0)
}

.home-buttons{
  background-color:rgba(255, 255, 255, 0.794);
  border-radius: 7px;
  padding:0;
  height: 45px;
  width: 150px;
  border:none;

}
  /* Characters page */

.second-page{
    background-color: black;
  }

  .filters{
    border: 2px solid #B69350;
    padding: 10px 20px;
    background-color: #B69350;
    border-radius: 10px;
    font-weight: 800;
    color: white ;
    font-family: poppins;
}

.filters:hover{ /*selector pseudoclase: solo aplica al elemento cuando el puntero está sobre él*/
    color: #B69350;
    background-color: transparent;
}
  .main-characters{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    text-align: center;
    font-family: Cinzel Decorative;
    color: rgba(255, 255, 255, 1);
 }

