body{
  margin:0%;
  padding: 0;
}

.first-page{
  background-image: url(images/homepage/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 90px;
}

 h1{
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  font-family: Cinzel Decorative;
  margin-top: 90px;
  margin-bottom: 0;
  position: relative;
  text-align: center;
 }
  
  
 p{
  font-family: poppins;
  color: rgba(255, 255, 255, 1);
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 20px;
 }
  
 .welcome{
  color: rgba(255, 255, 255, 1);
  font-family: Cinzel Decorative;
  text-align:center;
 }
  
.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    text-align: center;
    font-family: Cinzel Decorative;
    color: rgba(255, 255, 255, 1);
 }

.width-img{
  width: 70%;
  margin: 10px;
}
  
.boxes{
  width: 25%;
  height: 230px;
  min-width: 200px;
  border: none;
  color: none;
  }

 .category-button{
  font-family: Cinzel Decorative;
  color: rgb(0, 0, 0);
}

.home-buttons{
  background-color:rgba(255, 255, 255, 0.794);
  border-radius: 7px;
  padding:0;
  height: 45px;
  width: 150px;
  border:none;
  font-family: Cinzel Decorative;
  color: rgb(0, 0, 0);
  font-size: 16px;
}
  /* Characters page(Second-page) */

.second-page{
    background-color: #11141B;
    padding: 30px;
    min-height: 100vh;
    padding: 40px;
}

.first-bar{
  margin-left: 38px;
  display: flex;
  flex-flow: row wrap;
}

.first-bar >a{
  font-family: Cinzel Decorative;
  color: white;
  text-decoration: none;
  padding: 20px;
  
}

  .horizontal-menu{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4rem;
  }

  .horizontal-menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
  }

  .categories{
  background-color: #B69350;
  border-radius: 10px;
  font-family: poppins;
  }

  .vertical-menu{
    position: absolute;
    display: none;
    list-style: none;
    width: 150px;
    background-color: #B69350;
    padding-inline-start: 0%;
    border-radius: 20px;
    margin-top: 2px;
  }

  .horizontal-menu li:hover .vertical-menu{
    display: block;
  }
  
  .vertical-menu li:hover{
    background-color: #781F29;
  }

  .vertical-menu > li > a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;   
    flex-flow: row wrap;
    justify-content:space-evenly; 
  }
  
  .main-characters{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    column-gap: 5rem;
    padding: 25px;
    text-align:center;
    font-family: Cinzel Decorative;
    color: rgba(255, 255, 255, 1);
 }

 h3{
   margin-top: 30px;
   margin-bottom: 30px;
 }
 
 hr{
   width: 93%;
 }
