body {
  margin: 0%;
  padding: 0;
}

.first-page {
  background-image: url(images/homepage/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 90px;
}

h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  font-family: Cinzel Decorative;
  margin-top: 50px;
  margin-bottom: 0;
  position: relative;
  text-align: center;
}

p {
  font-family: poppins;
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.welcome {
  color: rgba(255, 255, 255, 1);
  font-family: Cinzel Decorative;
  text-align: center;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 4%;
  font-family: Cinzel Decorative;
  color: rgba(255, 255, 255, 1);
}

.width-img {
  width: 70%;
  margin: 10px;
}

.boxes {
  width: 25%;
  height: 230px;
  min-width: 200px;
  border: none;
  color: none;
}

.category-button {
  font-family: Cinzel Decorative;
  color: rgb(0, 0, 0);
}

.home-buttons {
  background-color: rgba(255, 255, 255, 0.794);
  border-radius: 7px;
  padding: 0;
  height: 45px;
  width: 150px;
  border: none;
  font-family: Cinzel Decorative;
  color: rgb(0, 0, 0);
  font-size: 16px;
}
/* Characters page(Second-page) */

.second-page {
  background-color: #11141b;
  min-height: 100vh;
  display: none;
}

.first-bar {
  margin-left: 38px;
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
}

.first-bar > a {
  font-family: Cinzel Decorative;
  color: white;
  text-decoration: none;
  padding: 20px;
}

.select {
  background-color: rgba(102, 36, 43, 1);
  border-radius: 14px;
  font-family: poppins;
  height: 40px;
  width: 150px;
  border-color: #ffffff;
  font-size: 15px;
  color: white;
  text-align: center;    
}

.select-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 6rem;
  padding: 0%;
}
.friends-container {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  margin-top: 50px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
}

.friends-container h2 {
  font-family: Cinzel Decorative;
  color: #66242b;
  font-size: 58px;
  position: absolute;
  top: 10%;
  left: 40%;
  text-align: center;
}

.friends-container p {
  font-family: poppins;
  color: rgba(17, 20, 27, 0.76);
  font-size: 26px;
  position: absolute;
  top: 60%;
  left: 50%;
}

.friend-img {
  height: 100%;
  width: 100%;
}

/*Characters Card: SECOND PAGE*/
.divCard1 {
  font-family: Cinzel Decorative;
  color: white;
  display: flex;
  flex-flow: column wrap;
  border: 4px solid #ffffff;
  border-radius: 5px;
  border-color: #f2e0c5;
  width: 30%;
  padding: 2%;
  margin: 1%;
  font-size: 12px;
  background-repeat: repeat-y;
  background-size: 100%;
}

.gryffindorCard {
  background-image: url(images/casas/gryffindor.jpg);
}

.slytherinCard {
  background-image: url(images/casas/slytherin.jpg);
}

.ravenclawCard {
  background-image: url(images/casas/ravenclaw.jpg);
}

.hufflepuffCard {
  background-image: url(images/casas/hufflepuff.jpg);
}

.nullCard {
  background-image: url(images/casas/escudo.png);
  background-size: 30%;
  background-position: right;
}

.divCard1 p {
  font-size: 16px;
  margin: 1%;
}
.divCharacters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2%;
}

/* Books page(fourth-page) */
.books-page {
  background-color: #11141b;
  min-height: 100vh;
  display: none;
}

.books-container {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  margin-top: 40px;
  margin-bottom: 70px;
  justify-content: center;
  align-items: center;
}

.books-container h2 {
  font-family: Cinzel Decorative;
  color: white;
  font-size: 50px;
  position: absolute;
  top: 10%;
  left: 40%;
  text-align: center;
}

.books-container p {
  font-family: poppins;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
}

.books-img {
  height: 100%;
  max-width: 100%;
}

.select-books {
  background-color: rgba(89, 85, 174, 1);
  border-radius: 14px;
  font-family: poppins;
  height: 40px;
  width: 150px;
  border-color: #ffffff;
  font-size: 15px;
  color: white;
  text-align: center;
}

.books-select {
  display: flex;
  flex-flow: row wrap;
  padding: 0%;
  margin-left: 60px;
}

/* Contenedor de los libros*/

.books-card {
  width: 100%;
  height: 100%;
  color: black;
}

.divImgBook {
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
